body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
#contenedor{
  width: 50%;
  margin-top: 40px;
  }
  #btnbuscar{
    margin-left: 80px ;
  }
  #barra{
    width: 400px;
  }
  #btnform{
    margin-top: 20px;
    margin-left: 50px ;
    padding: 10px;
  }
  h2{
    margin-top: 20px;
  }